<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitism.ritik.enkindle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/enkindle_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.LoginRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/signin">
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/register">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.AskActivity"
            android:label="@string/ask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PopupWindowSolution"
            android:theme="@style/AppTheme.NoActionBar.PopWindowTheme" />
        <activity
            android:name=".activity.AskPopup"
            android:theme="@style/AppTheme.NoActionBar.PopWindowTheme">
        </activity>
    </application>

</manifest>